button {
    display: grid;
    justify-content:center;
    align-items:center;
}

.music-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
    accent-color: #1f3740;
    background: #c8645b;
    appearance: none;
    height: 0.5rem;
    width: 20rem;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #c8645b;
    height: 0.5rem;
    width: 0.5rem;   
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #1f3740;
    height: 0.5rem;
}

.beats-title {
margin-top: 50px;
}

.play-pause-button {
    color: white;
    background: none;
    border-color: #ffffff;
}

.next-track-button {
    color: white;
    background-color: #000000;
    background: none;
    border-color: #ffffff;
} 